/* Add CSS Styling */
.no,
.yes {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", "sans-serif";
}

.no {
background-color: red;
}

.yes {
    background-color: green;
    color: white;
}